<div  style="width:80%; margin:0 auto;">
  <h1> New Workout! </h1>
  <form action="/insert_photoworkout" method="post" enctype="multipart/form-data">
        <div>
          <label for="caption_box">
            Caption
          </label>

          <textarea id="caption_box" name="query_caption" rows="3"></textarea>
        </div>

        <div>
          <label for="challenge_id_box">
            
          </label>

          <input type="hidden" id="challenge_id_box" name="query_challenge_id" value = <%=@handle%> >
        </div>

        <div>
          <input type="hidden" id="user_id_box" name="query_user_id" value=<%= @current_user.id%>>
        </div>

        <div>
          <input type="hidden" id="likes_count_box" name="query_likes_count" value=0>
        </div>

        <div>
          <label for="photo_locator_box">
            Workout Picture
          </label>

          <input type="file" id="photo_locator_box" name="query_photo_locator" >
        </div>

        <div>
          <label for="calories_box">
            Calories
          </label>

          <input type="text" id="calories_box" name="query_calories">
        </div>

        <div>
          <label for="main_exercise_box">
            Main exercise
          </label>

          <input type="text" id="main_exercise_box" name="query_main_exercise">
        </div>

        <button class="button">
          Create photoworkout
        </button>
  </form>

    <hr>
  <a href="/challenges/<%= @handle %>"> Go back</a>
</div>

