  <div style="width:90%; margin:0 auto;">
    <h2>
      Stats!
    </h2>

    <hr>


    <h4>Participants by team</h4>

  <%= column_chart @uppt.group(:team_name).count %>

    <h4>Total workouts per participant</h4>

  <%= bar_chart  @merged_data_1.group(:username).count %>


  <hr>
  <a href="/challenges/<%= @the_challenge.challenge_handle %>"> Go back</a>
  <hr>

  <div>