  <div style="width:90%; margin:0 auto;">
    <h2>
      Stats!
    </h2>

    <hr>


    <h4>Score by team</h4>

  <%= pie_chart @h %>

    <h4>Total workouts per participant</h4>

  <%= bar_chart @big_table.group(:username).count.sort_by(&:last).reverse! %>
    

  <hr>
  <a href="/challenges/<%= @the_challenge.challenge_handle %>"> Go back</a>
  <hr>

  <div>