<div style="width:90%; margin:0 auto;">
<h1>Sign up and start challenging yourself!</h1>
  <form action="/insert_user" method="post"  enctype="multipart/form-data">

    <div>
      <label for="email_box">Email</label>
      <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
    </div>
                  
    <!-- <div>
      <label for="is_premium_box">Is premium</label>
      <input id="is_premium_box" name="query_is_premium" type="hidden">
    </div>-->
          
    <div>
      <label for="profile_picture_box">Profile picture</label>
        
      <input type="file" id="profile_picture_box" name="query_profile_picture" >
    </div>
          
    <div>
      <label for="bio_box">Bio</label>
      <textarea id="bio_box" name="query_bio" rows="3"></textarea>
    </div>
          
    <div>
      <label for="username_box">Username</label>
        
      <input type="text" id="username_box" name="query_username">
    </div>
      
    <div>
      <label for="password_box">Password</label>
      <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
    </div>

    <div>
      <label for="password_confirmation_box">Password Confirmation</label>
      <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
    </div>

    <button class="button">
      Sign up
    </button>
  </form>
<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
</div>
